div.card{
    div.cover{
        background: rgba($color: #572ee5, $alpha: 0.7); 
        nav{
            a{
                color: #572EE5;
            }
            button{
                color: #572EE5; background-color: white; opacity: 0.7; 
                &:hover{
                    color: #572EE5; background-color: white; opacity: 1; 
                }
            }
            body.dark &{
                button{
                    color: #572EE5; background-color: white; opacity: 0.7; 
                    &:hover{
                        color: #572EE5; background-color: white; opacity: 1;
                    }
                }
            }
        }
        p{
            color: white;
        }
        a.title{
            color:white;
        }
    }
    
}