div.card{
    position: relative; display: flex; 
    align-items: center; overflow: hidden;

    img{
        position: relative; 
    }
    div.cover{
        position: absolute; display: none;
        nav{
            display: flex; flex-flow: row wrap; position: absolute;
            justify-content: space-between; align-items: center;
            a{
                text-decoration: none; 
            }
            button{
                border: none; cursor: pointer;
                outline: none; position: relative;
            }
        }
        p{
            font-family: 'Roboto','sans-serif'; position: absolute;
            font-weight: 400; overflow: hidden;
        }
        a.title{
            text-decoration: none; outline: none; position: absolute;
            p{
                font-family: 'Roboto','sans-serif'; font-weight: 700; cursor: pointer;
                overflow: hidden;
            }
        }
    }
}
div.card:hover div.cover{
    display: block;
}
