main{
    section.trending-slider{
        background-color: #F3F5F8; 
        h2{
            color: #572EE5;
        }
        p{
            color: black;
        }

        div.slider-container{
            button{
                background-color: transparent;
                border: #572EE5 1px solid; color: #572EE5; 
            }
            button:hover{
                background-color: #572EE5; color:white; 
            }
            
        }
    }
    body.dark &{
        section.trending-slider{
            background-color: #222326; 
            h2{
                color: white;
            }
            p{
                color: white;
            }

            div.slider-container{
                button{
                    background-color: transparent;
                    border: white 1px solid; color: white; 
                }
                button:hover{
                    background-color: white; color:#222326; 
                }
                
            }
        }
    }
}
