.dark{
    main{
        div{
            background-color: #222326; 
            h2{
                color: white;
            }
            p{
                color: white;
            }

            div[id="slider"]{
                button{
                    background-color: transparent;
                    border: white 1px solid; color: white; 
                }
                button:hover{
                    background-color: white; color:#222326; 
                }
                
            }
        }
    }
}
