.dark{
    footer{
        background-color: #37383C; border-bottom: 5px solid black;
    
        p{
            color: white;
        }
        nav{
            ul{
                li{
                    a{
                        color: #CDD6E0;
                    }
                    a:hover{
                        color: white;
                    }
                }
            }
        }
    }
}