main{
    section#container{
        div#result-box{
            width: 100%; padding: 0 10.8%; 
            h2{
                width: 100%; margin-top: 82px; 
                font-size: 35px; line-height: 30px;
                margin-bottom: 59px;
            }
            div.card{                
                width: calc(92.5% / 4); height: calc(0.784 * 3 * 92.5vw / 16);
                margin-bottom: calc(0.784 * 2.5vw);  
            }

            div#noResults{
                width: 100%;
                img{
                    margin-top: 7.57vw; width: 150px; height: 150px;
                }
                
            }

            div.ver-mas-container{
                width: 100%; 
                button#ver-mas-btn{
                    width: 127px; height: 50px; border-radius: 25px;
                    font-size: 13px; line-height: 16px;

                }
            }
        }
    }
}