main{
    section#container{
        div#result-box{
            display: flex; flex-flow: row wrap; justify-content: space-between;
            h2{
                font-family: 'Montserrat','sans-serif'; font-weight: 700; 
                text-align: center; color: #572EE5;
            }

            div#noResults{
                display: flex; flex-flow: column wrap;
                align-items: center; 
                
            }

            div.ver-mas-container{
                display: flex; flex-flow: row wrap;
                justify-content: center;
                button#ver-mas-btn{
                    cursor: pointer; font-weight: 700;
                    font-family: 'Montserrat','sans-serif';
                }
            }
        }
    }
}