section#container.favoritos{
    h2{
        color: #572EE5;
    }
    div[id="favoritos-container"]{
        div[id="favoritos-empty-container"]{
            p{
                color: #50E3C2;
            }
        }
    }

    body.dark &{
        h2{
            color: white;
        }
        div[id="favoritos-container"]{
            div[id="favoritos-empty-container"]{
                p{
                    color: white;
                }
            }
        }
    }
}
