<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tus GIFOs</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body class="dark">
    <header>
        <a href="../index.html"><img src="../assets/logo-desktop.svg" alt="Home"></a>
        <ul>
            <li id="link-modo-oscuro">MODO NOCTURNO</li>
            <li id="link-favoritos"><a href="../templates/favoritos.html">FAVORITOS</a></li>
            <li id="link-mis-gifos"><a href="../templates/misGifos.html">MIS GIFOS</a></li>
            <button id="crear-gifo-link-btn"><i class="fas fa-plus"></i></button>
        </ul>
        <button id="menu-button"><i class="fas fa-bars"></i></button>
    </header>
    <div id="menu" class="noVisible">
        <ul>
            <li id="link-modo-oscuro">Modo Nocturno</li><hr>
            <li id="link-favoritos"><a href="../templates/favoritos.html">Favoritos</a></li><hr>
            <li id="link-mis-gifos"><a href="../templates/misGifos.html">Mis Gifos</a></li><hr>
            <button id="crear-gifo-link-btn"><i class="fas fa-plus"></i></button>
        </ul>
    </div>
    
    <main id="misGifos">
        <img src="../assets/icon-mis-gifos.svg" alt="Mis Gifos">
        <h2>Mis GIFOS</h2>
        <div id="misGifos-container">
            <!-- <div id="favoritos-empty-container" class="noVisible"> -->
            <div id="misGifos-empty-container">
                <img src="../assets/icon-fav-sin-contenido.svg" alt="Favoritos">
                <p>¡Anímate a crear tu primer GIFO!</p>
            </div>
        </div>
        
        <div>
            <h2>Trending GIFOS</h2>
            <p>Mira los últimos <br>GIFOS de nuestra comunidad.</p>
            <div id="slider">
                <button id="slider-left-btn"><i class="fas fa-chevron-left"></i></button>
                <img src="http://via.placeholder.com/357x275" alt="GIF 1">
                <img src="http://via.placeholder.com/357x275" alt="GIF 2">
                <img src="http://via.placeholder.com/357x275" alt="GIF 3">
                <button id="slider-left-btn"><i class="fas fa-chevron-right"></i></button>
            </div>
        </div>
    </main>

    <footer>
        <nav>
            <p>Compartir en:</p>
            <ul>
                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></i></li>
                <li><a href=""><i class="fab fa-instagram"></i></a></i></li>
            </ul>
        </nav>
        <p>&copy GIFOS 2020 All Rights Reserved.</p>
    </footer>

    <script src="https://kit.fontawesome.com/10a9c4b979.js" crossorigin="anonymous"></script>
</body>
</html>